body {
    background-color: #b7d1d1;
}

.container {
    width: 900px;
    margin: 20px auto;
    border: 2px solid black;
    background-color: #cde2e2;
    padding: 20px;
}

.img_1 {
    width: 250px;
    padding: 5px;
    float: left;
    margin: 10px 20px 10px 0;
}

.img_2 {
    width: 250px;
    padding: 5px;
    float: right;
    margin: 10px 0 10px 20px;
}

.img_3 {
    width: 250px;
    padding: 5px;
    float: left;
    margin: 10px 20px 10px 0;
}